[Unit]
Description=Check for validated GTHF releases every minute

[Timer]
OnBootSec=60s
OnUnitInactiveSec=60s
AccuracySec=5s
Unit=gthdf-delivery.service

[Install]
WantedBy=timers.target
