@import "tailwindcss";

:root {
  /* GTHDF Color Tokens */
  --color-charbon: #272624;
  --color-creme: #FAEED4;
  --color-beige: #DACEBB;
  --color-rouge: #F3492F;
  --color-vert: #4D9678;
  --color-jaune: #FEAF2C;
  --color-bleu: #216173;
  
  --background: var(--color-creme);
  --foreground: var(--color-charbon);
}

@theme inline {
  --color-charbon: #272624;
  --color-creme: #FAEED4;
  --color-beige: #DACEBB;
  --color-rouge: #F3492F;
  --color-vert: #4D9678;
  --color-jaune: #FEAF2C;
  --color-bleu: #216173;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
